
<div class="section reason">
    <div class="container">
        <div class="row">
            <div class="col l-2-7 m-12 c-12">
                <h2 class="heading reason-heading 
                  {{ section.settings.select-size-text}}
                ">
                    {{ section.settings.multilcolumn-heading }}
                </h2>
            </div>
            <div class="col l-7-3 m-12 c-12">
                <div class="row gutter-small">
                  {% for block in section.blocks %}

                    <div class="l-4 col m-12 c-12 mb-35">
                        <h3 class="reason-title">
                            <!-- Luxury facilities -->
                          {{ block.settings.title }}

                        </h3>
                        <p class="reason-text">
                            <!-- The advantage of hiring a workspace with us is that givees you comfortable service and all-around facilities. -->
                          {{ block.settings.descript }}
                        </p>
                        <a href="{{ block.settings.link }}" class="reason-more">
                          <!-- More Info -->
                          {{ block.settings.link_lable }}
                            <img src= "https://thanh991999.github.io/Panto_Funiture/assets/icon/Arrow-long-left.svg" alt></img>
                        </a>
                    </div>
                  {%- endfor -%}
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
{   
  "name": "Multicolumn",
  "tag": "div",
  "class": "multicolumn",
  "settings": [
    {
      "type": "text",
      "label": "Heading",
      "id": "multilcolumn-heading",
      "default": "Why Choosing Us"

    },
    {
      "type": "select",
      "label": "Heading size",
      "id": "select-size-text",
      "options": [
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "small",
          "label": "Small"
        }
      ]

    }
  ],
  "blocks": [
    {
      "name" : "column",
      "type" : "column",
      "settings": [
        {
          "label": "Heading",
          "type": "text",
          "id": "title"
        },
        {
          "label": "Description",
          "type": "richtext",
          "id": "descript"
        },
        {
          "label": "Link label",
          "type": "text",
          "id": "link_lable"
        },
        {
          "label": "Link",
          "type": "url",
          "id": "link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "spf-multicolumn",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}