



<div class="

    {% if request.page_type == 'index' %} spf-header--modify {% endif %}  
    {% unless request.page_type == 'index' %} spf-header--color {% endunless %}  

    
    section spf-header">

    <div class="container">
        <div class="header-nav dfs {% unless request.page_type == 'index' %} header-nav--mdf {% endunless %}">
            <i class="bi bi-list menu-tab-mb hidden-pc"></i>

            {% if section.settings.spf-img == blank and section.settings.spf-logo != blank %}
                <a href="{{ routes.root_url }}" class="nav-logo text">
                    {{ section.settings.spf-logo }}
                </a>
                    
                {% elsif section.settings.spf-img == blank and section.settings.spf-logo == blank %}
                    {{ 'image' | placeholder_svg_tag: 'header__logo-img' }}
                {% else %}
                    <a href="{{ routes.root_url }}">
                        <img class="" src="{{ section.settings.spf-img| img_url: '100x100' }}" alt="">
                    </a>
            {% endif %}
           



            <!-- <ul class="nav-list df">
                <li class="nav-item df">
                    <div class="nav-item__wrap">
                        <a href="#" class="nav-link text">Furniture</a>
                        <i class="nav-item__icon bi bi-chevron-down"></i>

                    </div>

                    <ul class="nav-item__funiture-list">
                        <li class="nav-item__funiture-items">
                            <a href="#" class="nav-item__funiture-link">
                                Chair
                            </a>
                            
                        </li>
                        <li class="nav-item__funiture-items">
                            <a href="#" class="nav-item__funiture-link">
                                Beds
                            </a>
                        </li>
                        <li class="nav-item__funiture-items">
                            <a href="#" class="nav-item__funiture-link">
                                Chair
                            </a>
                        </li>
                        <li class="nav-item__funiture-items">
                            <a href="#" class="nav-item__funiture-link">
                                Lamp
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link text">Shop</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text">About Us</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text">Contact</a>
                </li>
            </ul> -->

            <ul class="nav-list df">
                {% for link in section.settings.menu.links %}
                  <li class="nav-item 
                  {% if link.links.size > 0 %}
                    spf-hidden
                  {% endif %}
                    ">

                    <div class="nav-item__wrap">
                        <a class="nav-link text" href="{{ link.url }}">{{ link.title }}</a>
                        
                        {% if link.links.size > 0 %}
                            <i class="nav-item__icon bi bi-chevron-down"></i>
                        {% endif %}
                    </div>

                    {% if link.links.size > 0 %}
                      <ul class="nav-item__funiture-list">
                        {% for child_link in link.links %}
                          <li class="nav-item__funiture-items">
                            <a class="nav-item__funiture-link" href="{{ child_link.url }}">{{ child_link.title }}</a>
              
                            <!-- {% if child_link.links.size > 0 %}
                              <ul class="menu dropdown-grandchild">
                                {% for grandchild_link in child_link.links %}
                                  <li class="menu-link">
                                    <a href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                                  </li>
                                {% endfor %}
                              </ul>
                            {% endif %} -->
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
              

            <div class="overlay-menu"></div>

            <a href="{{ routes.cart_url }}" class="nav-cart">
                    <i class="bi bi-handbag-fill" style="font-size: 2.2rem;color: #fff;"></i>
                <div class="nav-cart__amount-product text df">
                    {{cart.item_count}}
                </div>
                <!-- <div class="header__cart-list">
                            
                    <h4 class="header__cart-heading">Product Has Been Added</h4>
                    <div class="header__cart-body">
                        <ul class="header__cart-list-items">
                            <li class="header__cart-items">
                                <img src="./assets/img/cart/img1.jpg" alt="F10 Plus Xanh" class="header__cart-items-img">
                                <div class="header__cart-items-head">
                                    <div class="header__cart-items-description">
                                        Office chair
                                    </div>
                                    <span class="header__cart-items-cost">
                                        <span class="header__cart-items-units">$</span>
                                        199
                                    </span>
                                </div>
                                
                            </li>
                            <li class="header__cart-items">
                                <img src="./assets/img/cart/img2.jpg" alt="Bàn phím cơ Keychron K2" class="header__cart-items-img">
    
                                <div class="header__cart-items-head">
                                    <div class="header__cart-items-description">
                                        Nyantuy Chair
                                        
                                    </div>
                                    <span class="header__cart-items-cost">
                                        <span class="header__cart-items-units">$</span>
                                        299
                                    </span>
                                </div>
                                
                            </li>
                            <li class="header__cart-items">
                                <img src="./assets/img/cart/img3.jpg" alt="F10 Plus Xanh" class="header__cart-items-img">
                                
                                <div class="header__cart-items-head">
                                    <div class="header__cart-items-description">
                                        <button class="header__cart-items-sale">Sale Up To 20%</button>
                                        Sakarias Armchair
                                        
                                    </div>
                                    <span class="header__cart-items-cost">
                                        <span class="header__cart-items-units">$</span>
                                        150
                                    </span>
                                </div>
                            </li>
                            <li class="header__cart-items">
                                <img src="./assets/img/cart/img4.jpg" alt="" class="header__cart-items-img">
                                <div class="header__cart-items-head">
                                    <div class="header__cart-items-description">Ipsum Chair
                                    </div>
                                    <span class="header__cart-items-cost">
                                        <span class="header__cart-items-units">$</span>
                                        349
                                    </span>
                                </div>
                            </li>
                            
                        </ul>
                    </div>

                    <div class="header__cart-footer">
                        <a href="#" class="btn-cart btn--primary">
                            See Cart
                        </a>
                    </div>

                </div> -->
            </a>
            
        </div>
    </div>
</div>



{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "text",
      "id": "spf-logo",
      "label": "Upload your logo",
      "default": "Panto"
    },
    {
        "type": "image_picker",
        "id": "spf-img",
        "label": "Upload your image logo"
    },
    {
        "type": "link_list",
        "id": "menu",
        "default": "main-menu",
        "label": "Menu"
    }
  ],
    "presets": [
        {
            "name": "spf-header"
        }
    ]
}
{% endschema %}
