

<div class="section best-selling">
    <div class="container">
        <h2 class="heading best-selling__heading">
            {{ section.settings.heading }}
            <!-- Best Selling Product -->
        </h2>

        <div class="category">
            <ul class="category-list">
                {% for block in section.blocks %}
                    <li class="category-items ">
                        {{ block.settings.title }}
                    </li>
                {% endfor %}
                
            </ul>
        </div>

        <div class="best-selling__product" >
            {% for block in section.blocks %}

                    <div class="slider best-selling">
                        <div class="slider-wrap">

                            {%- for product in block.settings.collection.products -%}
                                <div class="slider-items">
                                <div class="product-wrapper">
                                    <div class="product-block">
                                        <img src="{{ product.featured_media| image_url: width: 300 }}" alt="" class="product-img">

                                    </div>
                                    <div class="product-info">
                                        <span class="product-name">
                                            {{product.type}}
                                        </span>
                                        <a href="#" class="product-name__detail">
                                            {{ product.title}}
                                        </a>

                                        <div class="product-stars">
                                            <img src="	https://thanh991999.github.io/Panto_Funiture/assets/icon/Star.svg" alt="">
                                            <img src="	https://thanh991999.github.io/Panto_Funiture/assets/icon/Star.svg" alt="">
                                            <img src="	https://thanh991999.github.io/Panto_Funiture/assets/icon/Star.svg" alt="">
                                            <img src="	https://thanh991999.github.io/Panto_Funiture/assets/icon/Star.svg" alt="">
                                            <img src="	https://thanh991999.github.io/Panto_Funiture/assets/icon/Star.svg" alt="">
                                        </div>

                                        <div class="product-costs dfs">
                                            {{ product.price_max | money | strip_html}}
                                            <a href="{{ routes.cart_url }}" class="product-plus df">
                                                <img src="https://thanh991999.github.io/Panto_Funiture/assets/icon/Plus.svg" alt="">
                                            </a>
                                        </div>

                                    </div>
                                </div>
                                </div>

                            {% endfor %}
                            
                        </div>
                    </div>

                
            {% endfor %}
            

        </div>
        <a href="#" class="reason-more view-all">View All
            <img src="./assets/icon/Arrow-long-left.svg" alt="">
        </a>
    </div>
</div>


{% schema %}
{
  "name": "slider",
  "settings": [
        {
            "type": "text",
            "label": "Heading",
            "id": "heading"
        }
  ],
  "blocks": [
        {
            "type": "text",
            "name": "Title buttom",
            "limit": 4,
            "settings": [
                {
                    "id": "title",
                    "label": "Title",
                    "type": "text"
                },
                {
                    "label": "Colection",
                    "id": "collection",
                    "type": "collection"
                }
            ]
        }
        
  ],
    "presets": [
        {
            "name": "spf-slider-product"
        }
    ]
}
{% endschema %}