

{{ 'spf-base.css' | asset_url | stylesheet_tag }}
{{ 'spf-grid.css' | asset_url | stylesheet_tag }}
{{ 'spf-style.css' | asset_url | stylesheet_tag }}
{{ 'spf-responsive.css' | asset_url | stylesheet_tag }}

<div class="header-wraper" style="background-image:url('{{ section.settings.spfimage.src | img_url: 'large' }}')"​​​​​​ >
    
    <div class="section hero">
        <!-- <h1 class="hero-heading text">
            Make your interior more minimalistic &amp; modern
        </h1> -->

        <h1 class="hero-heading text">
            {{ section.settings.heading }}
        </h1>

        <!-- <h2 class="sub-hero-heading text">Turn your room with panto into a lot more minimalist and modern with ease and speed</h2> -->
            <h2 class="sub-hero-heading text">
                {{ section.settings.subheading }}
            </h2>

        <form>
            <div class="form-search dfs">
                <div class="text hero-search">
                    <input type="text" name="" id="" placeholder="Search furniture"> 
                </div>
                <button class="hero-search__icon df">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </form>

       
    </div>
    
    <div class="header-wraper__dot hidden-tab-mob">
        <div class="header-wraper__cricle-sofa df ">
            <div class="header-wraper__cricle-small">

            </div>
        </div>

        <div class="header-wraper__dot-options df">
            <div class="dot-options__color dfs">
                <div class="dot-options__items dot-options__items--orange df">
                    <img src="./assets/icon/vectorV.svg" alt="">
                </div>
                <div class="dot-options__items dot-options__items--blue">
                    
                </div>
                <div class="dot-options__items dot-options__items--silver">
                    
                </div>
            </div>
        </div>

    </div>

    <div class="header-wraper__dot--vase hidden-tab-mob">
        <div class="header-wraper__cricle--vase df">
            <div class="header-wraper__cricle-small--vase">
                
            </div>
        </div>

            <div class="product-wrapper__vase">
                <div class="product-block">
                    <img src="./assets/img/lohoa.jpg" alt="" class="product-img product-img__vase">

                </div>
                <div class="product-info">
                    <span class="product-name">
                        Vase flowers
                    </span>
                    <a href="#" class="product-name__detail">
                        Sakarias 
                    </a>

                    <div class="product-stars">
                        <img src="./assets/icon/Star.svg" alt="">
                        <img src="./assets/icon/Star.svg" alt="">
                        <img src="./assets/icon/Star.svg" alt="">
                        <img src="./assets/icon/Star.svg" alt="">
                        <img src="./assets/icon/Star.svg" alt="">
                    </div>

                    <div class="product-costs dfs">
                        $20
                        <button class="product-plus df">
                            <img src="./assets/icon/Plus.svg" alt="">
                        </button>
                    </div>

                </div>
            </div>

    </div>

    <div class="header-wraper__dot--vase-secondary hidden-tab-mob">
        <div class="header-wraper__cricle--vase df">
            <div class="header-wraper__cricle-small--vase">

            </div>
        </div>

        <div class="header-wraper__dot-options--vase-secondary df">
            <div class="dot-options__color dfs">
                <div class="dot-options__items dot-options__items--orange ">

                </div>
                <div class="dot-options__items dot-options__items--blue">
                    
                </div>
                <div class="dot-options__items dot-options__items--dark df">
                    <img src="./assets/icon/vectorV.svg" alt="">
                </div>
            </div>
        </div>
       
    </div>

    
</div>


{% schema %}
{
  "name": "Thanh Image banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "spfimage",
      "label": "Upload your image"
    },
    {
        "type": "text",
        "id": "heading",
        "default": "Make your interior more minimalistic & modern",
        "label": "Heading"
    },
    {
        "type": "text",
        "id": "subheading",
        "default": "Turn your room with panto into a lot more minimalist and modern with ease and speed",
        "label": "paragrap"
    }
  ],
  "blocks": [
        {
        "name": "heading",
        "type": "text",
        "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "default": "Make your interior more minimalistic & modern",
                    "label": "Heading"
                },
                {
                    "type": "text",
                    "id": "subheading",
                    "default": "Turn your room with panto into a lot more minimalist and modern with ease and speed",
                    "label": "paragrap"
                }
        ]
        }
    ],
    "presets": [
        {
            "name": "spf-banner"
        }
    ]
}
{% endschema %}
