

<div class="section best-selling">
    <div class="container">
        <h2 class="heading best-selling__heading">
            {{ section.settings.heading }}
            <!-- Best Selling Product -->
        </h2>

        <div class="category">
            <ul class="category-list">
                {% for block in section.blocks %}
                    <li class="category-items {% if forloop.first %}
                  active
                  {% endif %}">
                        {{ block.settings.title }}
                    </li>
                {% endfor %}
                
            </ul>
        </div>

        <!-- {%- if block.settings.collection != blank -%}
            {% else %}
                thanh 
        {%- endif -%} -->

        <div class="best-selling__product" >
            {% for block in section.blocks %}
                
                <div class="spf-slider best-selling">
                    <div class="slider-wrap">

                        {%- if block.settings.collection != blank -%}

                            {%- for product in block.settings.collection.products -%}

                                <div class="slider-items">
                                    <div class="product-wrapper">
                                        <div class="product-block">
                                            
                                            <img src="{{ product.featured_media| image_url: width: 300 }}" alt="" class="product-img"> 
                                                
                                            
                                        </div>  
                                        <div class="product-info">
                                            <span class="product-name">
                                                {{ product.type }}
                                            </span>
                                            <a href="{{ product.url }}" class="product-name__detail">
                                                {{ product.title }}
                                            </a>

                                            <div class="product-stars">
                                                
                                                    <svg  xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                                                        <path d="M13.9727 10.9081C13.7754 11.0993 13.6848 11.3758 13.7297 11.6469L14.4068 15.3941C14.4639 15.7117 14.3299 16.0331 14.0641 16.2166C13.8036 16.407 13.4571 16.4299 13.173 16.2775L9.79981 14.5182C9.68252 14.4557 9.55228 14.4222 9.419 14.4184H9.21261C9.14101 14.4291 9.07095 14.4519 9.00697 14.487L5.63304 16.2547C5.46625 16.3385 5.27737 16.3682 5.0923 16.3385C4.64142 16.2532 4.34059 15.8236 4.41446 15.3705L5.0923 11.6233C5.13723 11.3499 5.0466 11.0719 4.84934 10.8777L2.09917 8.21201C1.86916 7.98886 1.78919 7.65375 1.8943 7.35138C1.99635 7.04978 2.25682 6.82968 2.57137 6.78017L6.35657 6.23105C6.64446 6.20134 6.89731 6.02617 7.02678 5.76722L8.69471 2.34756C8.73431 2.2714 8.78534 2.20133 8.84703 2.14192L8.91558 2.08861C8.95137 2.04901 8.9925 2.01626 9.0382 1.9896L9.12121 1.95914L9.25069 1.90582H9.57132C9.85769 1.93553 10.1098 2.10689 10.2415 2.36279L11.9316 5.76722C12.0534 6.01627 12.2903 6.18916 12.5637 6.23105L16.3489 6.78017C16.6688 6.82587 16.9361 7.04674 17.042 7.35138C17.1417 7.65679 17.0557 7.9919 16.8211 8.21201L13.9727 10.9081Z" fill="#F6B76F"/>
                                                    </svg>
                                                    <svg class="{% if block.settings.stars == "1"  %} product-start--opa {% endif %}" xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                                                        <path d="M13.9727 10.9081C13.7754 11.0993 13.6848 11.3758 13.7297 11.6469L14.4068 15.3941C14.4639 15.7117 14.3299 16.0331 14.0641 16.2166C13.8036 16.407 13.4571 16.4299 13.173 16.2775L9.79981 14.5182C9.68252 14.4557 9.55228 14.4222 9.419 14.4184H9.21261C9.14101 14.4291 9.07095 14.4519 9.00697 14.487L5.63304 16.2547C5.46625 16.3385 5.27737 16.3682 5.0923 16.3385C4.64142 16.2532 4.34059 15.8236 4.41446 15.3705L5.0923 11.6233C5.13723 11.3499 5.0466 11.0719 4.84934 10.8777L2.09917 8.21201C1.86916 7.98886 1.78919 7.65375 1.8943 7.35138C1.99635 7.04978 2.25682 6.82968 2.57137 6.78017L6.35657 6.23105C6.64446 6.20134 6.89731 6.02617 7.02678 5.76722L8.69471 2.34756C8.73431 2.2714 8.78534 2.20133 8.84703 2.14192L8.91558 2.08861C8.95137 2.04901 8.9925 2.01626 9.0382 1.9896L9.12121 1.95914L9.25069 1.90582H9.57132C9.85769 1.93553 10.1098 2.10689 10.2415 2.36279L11.9316 5.76722C12.0534 6.01627 12.2903 6.18916 12.5637 6.23105L16.3489 6.78017C16.6688 6.82587 16.9361 7.04674 17.042 7.35138C17.1417 7.65679 17.0557 7.9919 16.8211 8.21201L13.9727 10.9081Z" fill="#F6B76F"/>
                                                    </svg>
                                                    <svg class="{% if block.settings.stars <= "2"  %} product-start--opa {% endif %}" xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                                                        <path d="M13.9727 10.9081C13.7754 11.0993 13.6848 11.3758 13.7297 11.6469L14.4068 15.3941C14.4639 15.7117 14.3299 16.0331 14.0641 16.2166C13.8036 16.407 13.4571 16.4299 13.173 16.2775L9.79981 14.5182C9.68252 14.4557 9.55228 14.4222 9.419 14.4184H9.21261C9.14101 14.4291 9.07095 14.4519 9.00697 14.487L5.63304 16.2547C5.46625 16.3385 5.27737 16.3682 5.0923 16.3385C4.64142 16.2532 4.34059 15.8236 4.41446 15.3705L5.0923 11.6233C5.13723 11.3499 5.0466 11.0719 4.84934 10.8777L2.09917 8.21201C1.86916 7.98886 1.78919 7.65375 1.8943 7.35138C1.99635 7.04978 2.25682 6.82968 2.57137 6.78017L6.35657 6.23105C6.64446 6.20134 6.89731 6.02617 7.02678 5.76722L8.69471 2.34756C8.73431 2.2714 8.78534 2.20133 8.84703 2.14192L8.91558 2.08861C8.95137 2.04901 8.9925 2.01626 9.0382 1.9896L9.12121 1.95914L9.25069 1.90582H9.57132C9.85769 1.93553 10.1098 2.10689 10.2415 2.36279L11.9316 5.76722C12.0534 6.01627 12.2903 6.18916 12.5637 6.23105L16.3489 6.78017C16.6688 6.82587 16.9361 7.04674 17.042 7.35138C17.1417 7.65679 17.0557 7.9919 16.8211 8.21201L13.9727 10.9081Z" fill="#F6B76F"/>
                                                    </svg>
                                                    <svg class="{% if block.settings.stars <= "3"  %} product-start--opa {% endif %}" xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                                                        <path d="M13.9727 10.9081C13.7754 11.0993 13.6848 11.3758 13.7297 11.6469L14.4068 15.3941C14.4639 15.7117 14.3299 16.0331 14.0641 16.2166C13.8036 16.407 13.4571 16.4299 13.173 16.2775L9.79981 14.5182C9.68252 14.4557 9.55228 14.4222 9.419 14.4184H9.21261C9.14101 14.4291 9.07095 14.4519 9.00697 14.487L5.63304 16.2547C5.46625 16.3385 5.27737 16.3682 5.0923 16.3385C4.64142 16.2532 4.34059 15.8236 4.41446 15.3705L5.0923 11.6233C5.13723 11.3499 5.0466 11.0719 4.84934 10.8777L2.09917 8.21201C1.86916 7.98886 1.78919 7.65375 1.8943 7.35138C1.99635 7.04978 2.25682 6.82968 2.57137 6.78017L6.35657 6.23105C6.64446 6.20134 6.89731 6.02617 7.02678 5.76722L8.69471 2.34756C8.73431 2.2714 8.78534 2.20133 8.84703 2.14192L8.91558 2.08861C8.95137 2.04901 8.9925 2.01626 9.0382 1.9896L9.12121 1.95914L9.25069 1.90582H9.57132C9.85769 1.93553 10.1098 2.10689 10.2415 2.36279L11.9316 5.76722C12.0534 6.01627 12.2903 6.18916 12.5637 6.23105L16.3489 6.78017C16.6688 6.82587 16.9361 7.04674 17.042 7.35138C17.1417 7.65679 17.0557 7.9919 16.8211 8.21201L13.9727 10.9081Z" fill="#F6B76F"/>
                                                    </svg>
                                                    <svg class="{% if block.settings.stars <= "4"  %} product-start--opa {% endif %}" xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                                                        <path d="M13.9727 10.9081C13.7754 11.0993 13.6848 11.3758 13.7297 11.6469L14.4068 15.3941C14.4639 15.7117 14.3299 16.0331 14.0641 16.2166C13.8036 16.407 13.4571 16.4299 13.173 16.2775L9.79981 14.5182C9.68252 14.4557 9.55228 14.4222 9.419 14.4184H9.21261C9.14101 14.4291 9.07095 14.4519 9.00697 14.487L5.63304 16.2547C5.46625 16.3385 5.27737 16.3682 5.0923 16.3385C4.64142 16.2532 4.34059 15.8236 4.41446 15.3705L5.0923 11.6233C5.13723 11.3499 5.0466 11.0719 4.84934 10.8777L2.09917 8.21201C1.86916 7.98886 1.78919 7.65375 1.8943 7.35138C1.99635 7.04978 2.25682 6.82968 2.57137 6.78017L6.35657 6.23105C6.64446 6.20134 6.89731 6.02617 7.02678 5.76722L8.69471 2.34756C8.73431 2.2714 8.78534 2.20133 8.84703 2.14192L8.91558 2.08861C8.95137 2.04901 8.9925 2.01626 9.0382 1.9896L9.12121 1.95914L9.25069 1.90582H9.57132C9.85769 1.93553 10.1098 2.10689 10.2415 2.36279L11.9316 5.76722C12.0534 6.01627 12.2903 6.18916 12.5637 6.23105L16.3489 6.78017C16.6688 6.82587 16.9361 7.04674 17.042 7.35138C17.1417 7.65679 17.0557 7.9919 16.8211 8.21201L13.9727 10.9081Z" fill="#F6B76F"/>
                                                    </svg>

                                            </div>

                                            

                                            <form method="post" action="/cart/add">
                                                <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                                                <!-- <input min="1" type="number" id="quantity" name="quantity" value="1"/> -->

                                                <div class="product-costs dfs">
                                                    {{ product.price_max | money | strip_html }}
                                                    <button  class="product-plus df" type="submit" value="Add to cart">
                                                        <img src="https://thanh991999.github.io/Panto_Funiture/assets/icon/Plus.svg" alt="">
                                                    </button>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                        
                            {% endfor %}
                        {% else %}
                            {%- for i in (1..5) -%}
                            <div class="slider-items">
                                <div class="product-wrapper">
                                    <div class="product-block">
                                        {{ 'collection-4' | placeholder_svg_tag: 'product-img bg-gray ' }}
                                    </div>  
                                    <div class="product-info">
                                        <div class="product-info__fake-cost" >20 VND</div>
                                    </div>
                                </div>
                            </div>
                            {%- endfor -%}
                        {% endif %}
                    </div>
                </div>
                
            {% endfor %}
        </div> 

        <div class="block"></div>
        
        <a href="{{ section.settings.link }}" class="reason-more view-all
        {% if section.settings.linklabel == blank %} hidden-arrow {% endif %} ">
            {{ section.settings.linklabel }}
            <svg class="arrow-left" xmlns="http://www.w3.org/2000/svg" width="39" height="13" viewBox="0 0 39 13" fill="none">
                <path d="M0.5 5.90024H0V6.90024H0.5V5.90024ZM38 6.40024L38.2864 6.81005L38.8908 6.38763L38.2747 5.98249L38 6.40024ZM33.0685 0.825721L32.894 0.357168L31.9569 0.706215L32.1314 1.17477L33.0685 0.825721ZM32.161 11.5609L31.9216 11.9998L32.7996 12.4786L33.0389 12.0396L32.161 11.5609ZM0.5 6.90024H38V5.90024H0.5V6.90024ZM32.1314 1.17477C32.3907 1.87083 32.8884 2.56841 33.4539 3.20809C34.0244 3.85351 34.6905 4.46923 35.3193 5.00038C35.9493 5.53249 36.5492 5.98573 36.9912 6.30579C37.2125 6.46599 37.3948 6.59326 37.5223 6.68082C37.5861 6.72461 37.6362 6.7585 37.6707 6.78163C37.6879 6.79321 37.7012 6.80209 37.7104 6.80819C37.715 6.81123 37.7186 6.81358 37.721 6.81522C37.7223 6.81604 37.7232 6.81669 37.7239 6.81715C37.7243 6.81738 37.7246 6.81757 37.7248 6.81771C37.7249 6.81778 37.725 6.81785 37.7251 6.81789C37.7252 6.81795 37.7252 6.818 38 6.40024C38.2747 5.98249 38.2748 5.98252 38.2748 5.98253C38.2748 5.98252 38.2748 5.98253 38.2747 5.98251C38.2747 5.98247 38.2746 5.98239 38.2744 5.98226C38.274 5.98201 38.2733 5.98158 38.2724 5.98097C38.2706 5.97975 38.2677 5.97783 38.2637 5.97522C38.2559 5.96999 38.2439 5.96201 38.228 5.95136C38.1963 5.93007 38.1491 5.89815 38.0884 5.85645C37.9669 5.77304 37.7915 5.65058 37.5777 5.49582C37.1497 5.18595 36.5706 4.74826 35.9646 4.23642C35.3575 3.72363 34.7305 3.14237 34.2031 2.54576C33.6706 1.94339 33.2653 1.35387 33.0685 0.825721L32.1314 1.17477ZM38 6.40024C37.7135 5.99044 37.7134 5.99049 37.7134 5.99055C37.7133 5.99058 37.7132 5.99065 37.7131 5.99072C37.7129 5.99085 37.7127 5.99103 37.7124 5.99125C37.7117 5.99169 37.7109 5.9923 37.7097 5.99308C37.7075 5.99464 37.7044 5.99686 37.7003 5.99974C37.6921 6.0055 37.6803 6.01389 37.6649 6.02482C37.6342 6.04669 37.5896 6.07873 37.5325 6.12022C37.4185 6.20321 37.2548 6.32411 37.0543 6.4772C36.6535 6.78315 36.104 7.21887 35.5084 7.73851C34.3304 8.76637 32.9223 10.1649 32.161 11.5609L33.0389 12.0396C33.7101 10.8089 35.002 9.50749 36.1659 8.49201C36.7412 7.98998 37.2731 7.56819 37.6611 7.27205C37.8549 7.1241 38.0123 7.0078 38.1209 6.92886C38.1751 6.88939 38.2171 6.85928 38.2452 6.83924C38.2593 6.82922 38.2699 6.82172 38.2768 6.81682C38.2803 6.81437 38.2828 6.81258 38.2844 6.81145C38.2853 6.81088 38.2858 6.81048 38.2862 6.81025C38.2863 6.81013 38.2864 6.81006 38.2865 6.81002C38.2865 6.81001 38.2865 6.81001 38.2865 6.81C38.2865 6.81002 38.2864 6.81005 38 6.40024Z" fill="#E58411"/>
            </svg>
        </a>

        <div class="hidden {% if section.settings.linklabel == blank %}visibility view-visibility {% endif %}"></div>
 
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        click_on_category_appear_product(`{{ section.id }}`);
    })
    
</script>

{% schema %}
{
  "name": "slider",
  "settings": [
        {
            "type": "text",
            "label": "Heading",
            "id": "heading",
            "default": "Heading"
        },
        {
            "type": "text",
            "label": "Link label",
            "id": "linklabel",
            "default": "View All"

          },
        {
            "type": "url",
            "label": "Link",
            "id": "link"
        }
  ],
  "blocks": [
        {
            "type": "text",
            "name": "Title buttom",
            "limit": 4,
            "settings": [
                {
                    "id": "title",
                    "label": "Title",
                    "type": "text",
                    "default": "buttom"
                },
                {
                    "label": "Colection",
                    "id": "collection",
                    "type": "collection"
                },
                {
                    "label": "Stars",
                    "id": "stars",
                    "type": "select",
                    "default": "5",
                    "options": [
                        {
                            "value": "5",
                            "label": "5 star"
                        },
                        {
                            "value": "4",
                            "label": "4 star"
                        },
                        {
                            "value": "3",
                            "label": "3 star"
                        },
                        {
                            "value": "2",
                            "label": "2 star"
                        },
                        {
                            "value": "1",
                            "label": "1 star"
                        }
                    ]
                }
            ]
        }
        
  ],
    "presets": [
        {
            "name": "spf-slider-product",
            "blocks": [
                {
                    "type": "text"
                },
                {
                    "type": "text"
                },
                {
                    "type": "text"
                },
                {
                    "type": "text"
                }
            ]
        }
    ]
}
{% endschema %}